<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>掲示板</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css1.css') }}">
    </head>
    <body>
        <script>setTimeout(function(){
            window.location.href = '/';
        }, 10*1000);</script>
        <div class="error2">掲示板</div>
        <div class="error1">ページがありません。<br>10秒後に自動でtopに遷移します。</div>
        <a href="/" role="button"><div class="error3">topへ戻る</div></a>


    </body>
</html>
